<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="URL_BASE" value="http://mantis.ramon.base2.com.br/" />
    <add key="username" value="administrator"/>
    <add key="password" value="221219880"/>



    <add key="environment" value="production"/>
    <!--Execution Settings-->
    <add key="Remote" value="True" />

    <!--Selenium Settings-->
    <add key="DefaultTimeout" value="60" />
    <add key="DefaultBrowser" value="Chrome" />
    <add key="DefaultTimeoutBetweenEvents" value="100" />
    <!--<add key="SeleniumServerURL" value="http://192.168.0.104:27121/wd/hub" />-->
    <add key="SeleniumServerURL" value="http://localhost:4444/wd/hub" />


    <!--Report Settings-->
    <add key="EnableKlov" value="True" />
    <add key="klovUrl" value="localhost"/>
    <add key="klovPort" value="27017"/>
    <add key="klovProjectName" value=""/>
    <add key="KlovManagerUrl" value="localhost:80"/>


    <!--<add key="SeleniumServerURL" value="http://172.17.0.2:4445/wd/hub" />-->



    <!--Project Settings-->
    <add key="BaseURL" value="https://www.google.com.br/" />

    <!--Database Settings-->
    <add key="DBUser" value="base2" />
    <add key="DBPassword" value="base2" />
    <add key="DBConnectionTimeout" value="6000" />
    <add key="DatabaseName" value="AutomacaoWEB" />
    <add key="DatabaseServer" value="10.10.10.10" />

  </appSettings>
</configuration>